Préambule : ce projet est associé au cours Hadoop et Map_Reduce et se compose de deux projets pour implémenter Map Reduce et pour utiliser via Python et la librairie hdfs3 l'utilisation d'hadoop. Ce Notebook est autoportant avec des chemins en relatif avec l'arborescence des fichiers et dossiers associés.

# Pré-requis

In [1]:
!pip freeze > requirements.txt

Permet de créer un environnement avec la même configuration de dépendances : pip install -r requirements.txt

# Projet Map Reduce

## Mapper et Reducer

### Mapper

Le mapper va charger uniquement :
* le premier champs et extraire le mois (deux premiers caractères)
* le second champs pour ensuite filter les départs
* le troisième champs pour connaitre la ville 
* le 11ème champs pour éviter le double comptage
* le 13ème champs pour le maximum de seats

Les clés, valeurs exposés correspondent au mois et nombre de seats en filtrant sur la ville Sydney dans le cas d'un départ de cette ville et dans le cas où le champs stop est à 0.

### Reducer

Le réducer utilise un dictionnaire permettant de stocker par mois ou un dictionnaire de dictionnaire pour agréger par année/mois les résultats en les sommant. Un test est réalisé pour s'assurer que le nombre de seats est un entier. On trie le dictionnaire de résultats pour l'affficher par ordre croissant.

Deux mapper et reducer ont été effectués :
* un pour faire des agrégations uniquement par mois
* un autre pour faire des agrégations par mois et par an

## Test en local du mapper et reducer

### Mapper et reducer avec agrégation par mois

In [2]:
!cat Reservation/data.csv | python Reservation/Reservation_mapper.py | python Reservation/Reservation_reduce.py

Month : 01	 Number of passengers from Sydney : 6190421
Month : 02	 Number of passengers from Sydney : 4766537
Month : 03	 Number of passengers from Sydney : 6261788
Month : 04	 Number of passengers from Sydney : 4960807
Month : 05	 Number of passengers from Sydney : 4928827
Month : 06	 Number of passengers from Sydney : 5935277
Month : 07	 Number of passengers from Sydney : 5213361
Month : 08	 Number of passengers from Sydney : 5112502
Month : 09	 Number of passengers from Sydney : 6590224
Month : 10	 Number of passengers from Sydney : 5187097
Month : 11	 Number of passengers from Sydney : 5051415
Month : 12	 Number of passengers from Sydney : 7250241

### Mapper et reducter avec agrégation par an et par mois

In [3]:
!cat Reservation/data.csv | python Reservation/Reservation_mapperMonthYear.py | python Reservation/Reservation_reduceMonthYear.py

Year : 2003 - Month : 09 	 Number of passengers from Sydney : 487489
Year : 2003 - Month : 12 	 Number of passengers from Sydney : 557005
Year : 2004 - Month : 03 	 Number of passengers from Sydney : 554227
Year : 2004 - Month : 06 	 Number of passengers from Sydney : 539183
Year : 2004 - Month : 09 	 Number of passengers from Sydney : 550141
Year : 2004 - Month : 12 	 Number of passengers from Sydney : 606719
Year : 2005 - Month : 03 	 Number of passengers from Sydney : 596534
Year : 2005 - Month : 06 	 Number of passengers from Sydney : 569057
Year : 2005 - Month : 09 	 Number of passengers from Sydney : 579150
Year : 2005 - Month : 12 	 Number of passengers from Sydney : 618713
Year : 2006 - Month : 01 	 Number of passengers from Sydney : 628357
Year : 2006 - Month : 02 	 Number of passengers from Sydney : 552457
Year : 2006 - Month : 03 	 Number of passengers from Sydney : 600364
Year : 2006 - Month : 04 	 Number of passengers from Sydney : 581205
Year : 2006 - Month : 05 	 Number of passengers from Sydney : 576843
Year : 2006 - Month : 06 	 Number of passengers from Sydney : 567687
Year : 2006 - Month : 07 	 Number of passengers from Sydney : 600386
Year : 2006 - Month : 08 	 Number of passengers from Sydney : 588643
Year : 2006 - Month : 09 	 Number of passengers from Sydney : 571883
Year : 2006 - Month : 10 	 Number of passengers from Sydney : 593800
Year : 2006 - Month : 11 	 Number of passengers from Sydney : 573123
Year : 2006 - Month : 12 	 Number of passengers from Sydney : 619897
Year : 2007 - Month : 01 	 Number of passengers from Sydney : 623281
Year : 2007 - Month : 02 	 Number of passengers from Sydney : 561693
Year : 2007 - Month : 03 	 Number of passengers from Sydney : 601283
Year : 2007 - Month : 04 	 Number of passengers from Sydney : 563075
Year : 2007 - Month : 05 	 Number of passengers from Sydney : 562521
Year : 2007 - Month : 06 	 Number of passengers from Sydney : 553939
Year : 2007 - Month : 07 	 Number of passengers from Sydney : 583057
Year : 2007 - Month : 08 	 Number of passengers from Sydney : 575999
Year : 2007 - Month : 09 	 Number of passengers from Sydney : 564396
Year : 2007 - Month : 10 	 Number of passengers from Sydney : 585538
Year : 2007 - Month : 11 	 Number of passengers from Sydney : 576085
Year : 2007 - Month : 12 	 Number of passengers from Sydney : 612876
Year : 2008 - Month : 01 	 Number of passengers from Sydney : 622525
Year : 2008 - Month : 02 	 Number of passengers from Sydney : 580886
Year : 2008 - Month : 03 	 Number of passengers from Sydney : 610098
Year : 2008 - Month : 04 	 Number of passengers from Sydney : 579828
Year : 2008 - Month : 05 	 Number of passengers from Sydney : 593481
Year : 2008 - Month : 06 	 Number of passengers from Sydney : 571365
Year : 2008 - Month : 07 	 Number of passengers from Sydney : 614763
Year : 2008 - Month : 08 	 Number of passengers from Sydney : 596635
Year : 2008 - Month : 09 	 Number of passengers from Sydney : 562295
Year : 2008 - Month : 10 	 Number of passengers from Sydney : 585773
Year : 2008 - Month : 11 	 Number of passengers from Sydney : 585932
Year : 2008 - Month : 12 	 Number of passengers from Sydney : 618514
Year : 2009 - Month : 01 	 Number of passengers from Sydney : 626406
Year : 2009 - Month : 02 	 Number of passengers from Sydney : 546582
Year : 2009 - Month : 03 	 Number of passengers from Sydney : 596356
Year : 2009 - Month : 04 	 Number of passengers from Sydney : 582837
Year : 2009 - Month : 05 	 Number of passengers from Sydney : 586048
Year : 2009 - Month : 06 	 Number of passengers from Sydney : 564161
Year : 2009 - Month : 07 	 Number of passengers from Sydney : 612112
Year : 2009 - Month : 08 	 Number of passengers from Sydney : 604721
Year : 2009 - Month : 09 	 Number of passengers from Sydney : 584070
Year : 2009 - Month : 10 	 Number of passengers from Sydney : 619346
Year : 2009 - Month : 11 	 Number of passengers from Sydney : 599650
Year : 2009 - Month : 12 	 Number of passengers from Sydney : 667769
Year : 2010 - Month : 01 	 Number of passengers from Sydney : 682777
Year : 2010 - Month : 02 	 Number of passengers from Sydney : 593296
Year : 2010 - Month : 03 	 Number of passengers from Sydney : 634380
Year : 2010 - Month : 04 	 Number of passengers from Sydney : 608030
Year : 2010 - Month : 05 	 Number of passengers from Sydney : 603295
Year : 2010 - Month : 06 	 Number of passengers from Sydney : 594696
Year : 2010 - Month : 07 	 Number of passengers from Sydney : 642945
Year : 2010 - Month : 08 	 Number of passengers from Sydney : 638477
Year : 2010 - Month : 09 	 Number of passengers from Sydney : 616638
Year : 2010 - Month : 10 	 Number of passengers from Sydney : 643887
Year : 2010 - Month : 11 	 Number of passengers from Sydney : 630428
Year : 2010 - Month : 12 	 Number of passengers from Sydney : 689319
Year : 2011 - Month : 01 	 Number of passengers from Sydney : 708382
Year : 2011 - Month : 02 	 Number of passengers from Sydney : 622079
Year : 2011 - Month : 03 	 Number of passengers from Sydney : 676351
Year : 2011 - Month : 04 	 Number of passengers from Sydney : 663109
Year : 2011 - Month : 05 	 Number of passengers from Sydney : 650324
Year : 2011 - Month : 06 	 Number of passengers from Sydney : 614870
Year : 2011 - Month : 07 	 Number of passengers from Sydney : 689314
Year : 2011 - Month : 08 	 Number of passengers from Sydney : 677257
Year : 2011 - Month : 09 	 Number of passengers from Sydney : 661884
Year : 2011 - Month : 10 	 Number of passengers from Sydney : 696907
Year : 2011 - Month : 11 	 Number of passengers from Sydney : 662271
Year : 2011 - Month : 12 	 Number of passengers from Sydney : 711800
Year : 2012 - Month : 01 	 Number of passengers from Sydney : 729013
Year : 2012 - Month : 02 	 Number of passengers from Sydney : 654120
Year : 2012 - Month : 03 	 Number of passengers from Sydney : 675644
Year : 2012 - Month : 04 	 Number of passengers from Sydney : 674681
Year : 2012 - Month : 05 	 Number of passengers from Sydney : 663790
Year : 2012 - Month : 06 	 Number of passengers from Sydney : 669329
Year : 2012 - Month : 07 	 Number of passengers from Sydney : 720682
Year : 2012 - Month : 08 	 Number of passengers from Sydney : 703989
Year : 2012 - Month : 09 	 Number of passengers from Sydney : 690536
Year : 2012 - Month : 10 	 Number of passengers from Sydney : 712018
Year : 2012 - Month : 11 	 Number of passengers from Sydney : 694402
Year : 2012 - Month : 12 	 Number of passengers from Sydney : 750584
Year : 2013 - Month : 01 	 Number of passengers from Sydney : 757168
Year : 2013 - Month : 02 	 Number of passengers from Sydney : 655424
Year : 2013 - Month : 03 	 Number of passengers from Sydney : 716551
Year : 2013 - Month : 04 	 Number of passengers from Sydney : 708042
Year : 2013 - Month : 05 	 Number of passengers from Sydney : 692525
Year : 2013 - Month : 06 	 Number of passengers from Sydney : 690990
Year : 2013 - Month : 07 	 Number of passengers from Sydney : 750102
Year : 2013 - Month : 08 	 Number of passengers from Sydney : 726781
Year : 2013 - Month : 09 	 Number of passengers from Sydney : 721742
Year : 2013 - Month : 10 	 Number of passengers from Sydney : 749828
Year : 2013 - Month : 11 	 Number of passengers from Sydney : 729524
Year : 2013 - Month : 12 	 Number of passengers from Sydney : 797045
Year : 2014 - Month : 01 	 Number of passengers from Sydney : 812512

## Execution HDFS

### Creation répertoire HDFS

In [4]:
!hadoop fs -mkdir /Reservation

### Copie du fichier data.csv sur HDFS

In [5]:
!hadoop fs -put Reservation/data.csv /Reservation/

In [6]:
!hadoop fs -ls /Reservation/

Found 1 items
-rw-r--r--   1 cloudera supergroup    6126033 2019-12-22 03:01 /Reservation/data.csv

### Lancement MAP Reduce par mois

In [7]:
!sudo hadoop jar /usr/lib/hadoop-0.20-mapreduce/contrib/streaming/hadoop-streaming-2.6.0-mr1-cdh5.13.0.jar \
-mapper "python $(pwd)/Reservation/Reservation_mapper.py" \
-reducer "python $(pwd)/Reservation/Reservation_reduce.py" \
-input /Reservation/data.csv \
-output /Reservation/OutMonth

packageJobJar: [] [/usr/lib/hadoop-mapreduce/hadoop-streaming-2.6.0-cdh5.13.0.jar] /tmp/streamjob5819363448156649822.jar tmpDir=null
19/12/22 03:01:44 INFO client.RMProxy: Connecting to ResourceManager at /0.0.0.0:8032
19/12/22 03:01:44 INFO client.RMProxy: Connecting to ResourceManager at /0.0.0.0:8032
19/12/22 03:01:46 INFO mapred.FileInputFormat: Total input paths to process : 1
19/12/22 03:01:46 INFO mapreduce.JobSubmitter: number of splits:2
19/12/22 03:01:46 INFO mapreduce.JobSubmitter: Submitting tokens for job: job_1576777860458_0017
19/12/22 03:01:47 INFO impl.YarnClientImpl: Submitted application application_1576777860458_0017
19/12/22 03:01:47 INFO mapreduce.Job: The url to track the job: http://quickstart.cloudera:8088/proxy/application_1576777860458_0017/
19/12/22 03:01:47 INFO mapreduce.Job: Running job: job_1576777860458_0017
19/12/22 03:01:59 INFO mapreduce.Job: Job job_1576777860458_0017 running in uber mode : false
19/12/22 03:01:59 INFO mapreduce.Job:  map 0% reduce 0%
19/12/22 03:02:16 INFO mapreduce.Job:  map 50% reduce 0%
19/12/22 03:02:17 INFO mapreduce.Job:  map 100% reduce 0%
19/12/22 03:02:27 INFO mapreduce.Job:  map 100% reduce 100%
19/12/22 03:02:27 INFO mapreduce.Job: Job job_1576777860458_0017 completed successfully
19/12/22 03:02:27 INFO mapreduce.Job: Counters: 50
	File System Counters
		FILE: Number of bytes read=88424
		FILE: Number of bytes written=614166
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
		HDFS: Number of bytes read=6130337
		HDFS: Number of bytes written=660
		HDFS: Number of read operations=9
		HDFS: Number of large read operations=0
		HDFS: Number of write operations=2
	Job Counters
		Killed map tasks=1
		Launched map tasks=2
		Launched reduce tasks=1
		Data-local map tasks=2
		Total time spent by all maps in occupied slots (ms)=28017
		Total time spent by all reduces in occupied slots (ms)=9181
		Total time spent by all map tasks (ms)=28017
		Total time spent by all reduce tasks (ms)=9181
		Total vcore-milliseconds taken by all map tasks=28017
		Total vcore-milliseconds taken by all reduce tasks=9181
		Total megabyte-milliseconds taken by all map tasks=28689408
		Total megabyte-milliseconds taken by all reduce tasks=9401344
	Map-Reduce Framework
		Map input records=61065
		Map output records=8655
		Map output bytes=71108
		Map output materialized bytes=88430
		Input split bytes=208
		Combine input records=0
		Combine output records=0
		Reduce input groups=12
		Reduce shuffle bytes=88430
		Reduce input records=8655
		Reduce output records=12
		Spilled Records=17310
		Shuffled Maps =2
		Failed Shuffles=0
		Merged Map outputs=2
		GC time elapsed (ms)=1766
		CPU time spent (ms)=8750
		Physical memory (bytes) snapshot=905039872
		Virtual memory (bytes) snapshot=4711632896
		Total committed heap usage (bytes)=696778752
	Shuffle Errors
		BAD_ID=0
		CONNECTION=0
		IO_ERROR=0
		WRONG_LENGTH=0
		WRONG_MAP=0
		WRONG_REDUCE=0
	File Input Format Counters
		Bytes Read=6130129
	File Output Format Counters
		Bytes Written=660
19/12/22 03:02:27 INFO streaming.StreamJob: Output directory: /Reservation/OutMonth

### Lancement MAP Reduce par an et par mois

In [8]:
!sudo hadoop jar /usr/lib/hadoop-0.20-mapreduce/contrib/streaming/hadoop-streaming-2.6.0-mr1-cdh5.13.0.jar \
-mapper "python $(pwd)/Reservation/Reservation_mapperMonthYear.py" \
-reducer "python $(pwd)/Reservation/Reservation_reduceMonthYear.py" \
-input /Reservation/data.csv \
-output /Reservation/OutMonthYear

packageJobJar: [] [/usr/lib/hadoop-mapreduce/hadoop-streaming-2.6.0-cdh5.13.0.jar] /tmp/streamjob8502980822403719350.jar tmpDir=null
19/12/22 03:02:33 INFO client.RMProxy: Connecting to ResourceManager at /0.0.0.0:8032
19/12/22 03:02:34 INFO client.RMProxy: Connecting to ResourceManager at /0.0.0.0:8032
19/12/22 03:02:35 INFO mapred.FileInputFormat: Total input paths to process : 1
19/12/22 03:02:35 WARN hdfs.DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1281)
	at java.lang.Thread.join(Thread.java:1355)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:967)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:705)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:894)
19/12/22 03:02:35 INFO mapreduce.JobSubmitter: number of splits:2
19/12/22 03:02:36 INFO mapreduce.JobSubmitter: Submitting tokens for job: job_1576777860458_0018
19/12/22 03:02:36 INFO impl.YarnClientImpl: Submitted application application_1576777860458_0018
19/12/22 03:02:36 INFO mapreduce.Job: The url to track the job: http://quickstart.cloudera:8088/proxy/application_1576777860458_0018/
19/12/22 03:02:36 INFO mapreduce.Job: Running job: job_1576777860458_0018
19/12/22 03:02:50 INFO mapreduce.Job: Job job_1576777860458_0018 running in uber mode : false
19/12/22 03:02:50 INFO mapreduce.Job:  map 0% reduce 0%
19/12/22 03:03:05 INFO mapreduce.Job:  map 50% reduce 0%
19/12/22 03:03:06 INFO mapreduce.Job:  map 100% reduce 0%
19/12/22 03:03:16 INFO mapreduce.Job:  map 100% reduce 100%
19/12/22 03:03:17 INFO mapreduce.Job: Job job_1576777860458_0018 completed successfully
19/12/22 03:03:18 INFO mapreduce.Job: Counters: 50
	File System Counters
		FILE: Number of bytes read=131699
		FILE: Number of bytes written=700782
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
		HDFS: Number of bytes read=6130337
		HDFS: Number of bytes written=7383
		HDFS: Number of read operations=9
		HDFS: Number of large read operations=0
		HDFS: Number of write operations=2
	Job Counters
		Killed map tasks=1
		Launched map tasks=2
		Launched reduce tasks=1
		Data-local map tasks=2
		Total time spent by all maps in occupied slots (ms)=27122
		Total time spent by all reduces in occupied slots (ms)=9330
		Total time spent by all map tasks (ms)=27122
		Total time spent by all reduce tasks (ms)=9330
		Total vcore-milliseconds taken by all map tasks=27122
		Total vcore-milliseconds taken by all reduce tasks=9330
		Total megabyte-milliseconds taken by all map tasks=27772928
		Total megabyte-milliseconds taken by all reduce tasks=9553920
	Map-Reduce Framework
		Map input records=61065
		Map output records=8655
		Map output bytes=114383
		Map output materialized bytes=131705
		Input split bytes=208
		Combine input records=0
		Combine output records=0
		Reduce input groups=107
		Reduce shuffle bytes=131705
		Reduce input records=8655
		Reduce output records=107
		Spilled Records=17310
		Shuffled Maps =2
		Failed Shuffles=0
		Merged Map outputs=2
		GC time elapsed (ms)=1007
		CPU time spent (ms)=8870
		Physical memory (bytes) snapshot=955269120
		Virtual memory (bytes) snapshot=4695879680
		Total committed heap usage (bytes)=835715072
	Shuffle Errors
		BAD_ID=0
		CONNECTION=0
		IO_ERROR=0
		WRONG_LENGTH=0
		WRONG_MAP=0
		WRONG_REDUCE=0
	File Input Format Counters
		Bytes Read=6130129
	File Output Format Counters
		Bytes Written=7383
19/12/22 03:03:18 INFO streaming.StreamJob: Output directory: /Reservation/OutMonthYear

### Traitements en cas d'exécutions répétées

On supprime les résultats des traces des traitements sauvegardés Map/Reduce d'une exécution précédente.

In [9]:
!sudo rm $(pwd)/Reservation/OutMonthYear/*
!sudo rm $(pwd)/Reservation/OutMonth/*

### Recupération du fichier de résultats en local ou visualisation

In [10]:
!hadoop fs -copyToLocal /Reservation/OutMonth/part-00000 $(pwd)/Reservation/OutMonth/

In [11]:
!hadoop fs -cat /Reservation/OutMonth/part-00000

Month : 01	 Number of passengers from Sydney : 6190421
Month : 02	 Number of passengers from Sydney : 4766537
Month : 03	 Number of passengers from Sydney : 6261788
Month : 04	 Number of passengers from Sydney : 4960807
Month : 05	 Number of passengers from Sydney : 4928827
Month : 06	 Number of passengers from Sydney : 5935277
Month : 07	 Number of passengers from Sydney : 5213361
Month : 08	 Number of passengers from Sydney : 5112502
Month : 09	 Number of passengers from Sydney : 6590224
Month : 10	 Number of passengers from Sydney : 5187097
Month : 11	 Number of passengers from Sydney : 5051415
Month : 12	 Number of passengers from Sydney : 7250241

In [12]:
!hadoop fs -copyToLocal /Reservation/OutMonthYear/part-00000 $(pwd)/Reservation/OutMonthYear/

In [13]:
!hadoop fs -cat /Reservation/OutMonthYear/part-00000

Year : 2003 - Month : 09 	 Number of passengers from Sydney : 487489
Year : 2003 - Month : 12 	 Number of passengers from Sydney : 557005
Year : 2004 - Month : 03 	 Number of passengers from Sydney : 554227
Year : 2004 - Month : 06 	 Number of passengers from Sydney : 539183
Year : 2004 - Month : 09 	 Number of passengers from Sydney : 550141
Year : 2004 - Month : 12 	 Number of passengers from Sydney : 606719
Year : 2005 - Month : 03 	 Number of passengers from Sydney : 596534
Year : 2005 - Month : 06 	 Number of passengers from Sydney : 569057
Year : 2005 - Month : 09 	 Number of passengers from Sydney : 579150
Year : 2005 - Month : 12 	 Number of passengers from Sydney : 618713
Year : 2006 - Month : 01 	 Number of passengers from Sydney : 628357
Year : 2006 - Month : 02 	 Number of passengers from Sydney : 552457
Year : 2006 - Month : 03 	 Number of passengers from Sydney : 600364
Year : 2006 - Month : 04 	 Number of passengers from Sydney : 581205
Year : 2006 - Month : 05 	 Number of passengers from Sydney : 576843
Year : 2006 - Month : 06 	 Number of passengers from Sydney : 567687
Year : 2006 - Month : 07 	 Number of passengers from Sydney : 600386
Year : 2006 - Month : 08 	 Number of passengers from Sydney : 588643
Year : 2006 - Month : 09 	 Number of passengers from Sydney : 571883
Year : 2006 - Month : 10 	 Number of passengers from Sydney : 593800
Year : 2006 - Month : 11 	 Number of passengers from Sydney : 573123
Year : 2006 - Month : 12 	 Number of passengers from Sydney : 619897
Year : 2007 - Month : 01 	 Number of passengers from Sydney : 623281
Year : 2007 - Month : 02 	 Number of passengers from Sydney : 561693
Year : 2007 - Month : 03 	 Number of passengers from Sydney : 601283
Year : 2007 - Month : 04 	 Number of passengers from Sydney : 563075
Year : 2007 - Month : 05 	 Number of passengers from Sydney : 562521
Year : 2007 - Month : 06 	 Number of passengers from Sydney : 553939
Year : 2007 - Month : 07 	 Number of passengers from Sydney : 583057
Year : 2007 - Month : 08 	 Number of passengers from Sydney : 575999
Year : 2007 - Month : 09 	 Number of passengers from Sydney : 564396
Year : 2007 - Month : 10 	 Number of passengers from Sydney : 585538
Year : 2007 - Month : 11 	 Number of passengers from Sydney : 576085
Year : 2007 - Month : 12 	 Number of passengers from Sydney : 612876
Year : 2008 - Month : 01 	 Number of passengers from Sydney : 622525
Year : 2008 - Month : 02 	 Number of passengers from Sydney : 580886
Year : 2008 - Month : 03 	 Number of passengers from Sydney : 610098
Year : 2008 - Month : 04 	 Number of passengers from Sydney : 579828
Year : 2008 - Month : 05 	 Number of passengers from Sydney : 593481
Year : 2008 - Month : 06 	 Number of passengers from Sydney : 571365
Year : 2008 - Month : 07 	 Number of passengers from Sydney : 614763
Year : 2008 - Month : 08 	 Number of passengers from Sydney : 596635
Year : 2008 - Month : 09 	 Number of passengers from Sydney : 562295
Year : 2008 - Month : 10 	 Number of passengers from Sydney : 585773
Year : 2008 - Month : 11 	 Number of passengers from Sydney : 585932
Year : 2008 - Month : 12 	 Number of passengers from Sydney : 618514
Year : 2009 - Month : 01 	 Number of passengers from Sydney : 626406
Year : 2009 - Month : 02 	 Number of passengers from Sydney : 546582
Year : 2009 - Month : 03 	 Number of passengers from Sydney : 596356
Year : 2009 - Month : 04 	 Number of passengers from Sydney : 582837
Year : 2009 - Month : 05 	 Number of passengers from Sydney : 586048
Year : 2009 - Month : 06 	 Number of passengers from Sydney : 564161
Year : 2009 - Month : 07 	 Number of passengers from Sydney : 612112
Year : 2009 - Month : 08 	 Number of passengers from Sydney : 604721
Year : 2009 - Month : 09 	 Number of passengers from Sydney : 584070
Year : 2009 - Month : 10 	 Number of passengers from Sydney : 619346
Year : 2009 - Month : 11 	 Number of passengers from Sydney : 599650
Year : 2009 - Month : 12 	 Number of passengers from Sydney : 667769
Year : 2010 - Month : 01 	 Number of passengers from Sydney : 682777
Year : 2010 - Month : 02 	 Number of passengers from Sydney : 593296
Year : 2010 - Month : 03 	 Number of passengers from Sydney : 634380
Year : 2010 - Month : 04 	 Number of passengers from Sydney : 608030
Year : 2010 - Month : 05 	 Number of passengers from Sydney : 603295
Year : 2010 - Month : 06 	 Number of passengers from Sydney : 594696
Year : 2010 - Month : 07 	 Number of passengers from Sydney : 642945
Year : 2010 - Month : 08 	 Number of passengers from Sydney : 638477
Year : 2010 - Month : 09 	 Number of passengers from Sydney : 616638
Year : 2010 - Month : 10 	 Number of passengers from Sydney : 643887
Year : 2010 - Month : 11 	 Number of passengers from Sydney : 630428
Year : 2010 - Month : 12 	 Number of passengers from Sydney : 689319
Year : 2011 - Month : 01 	 Number of passengers from Sydney : 708382
Year : 2011 - Month : 02 	 Number of passengers from Sydney : 622079
Year : 2011 - Month : 03 	 Number of passengers from Sydney : 676351
Year : 2011 - Month : 04 	 Number of passengers from Sydney : 663109
Year : 2011 - Month : 05 	 Number of passengers from Sydney : 650324
Year : 2011 - Month : 06 	 Number of passengers from Sydney : 614870
Year : 2011 - Month : 07 	 Number of passengers from Sydney : 689314
Year : 2011 - Month : 08 	 Number of passengers from Sydney : 677257
Year : 2011 - Month : 09 	 Number of passengers from Sydney : 661884
Year : 2011 - Month : 10 	 Number of passengers from Sydney : 696907
Year : 2011 - Month : 11 	 Number of passengers from Sydney : 662271
Year : 2011 - Month : 12 	 Number of passengers from Sydney : 711800
Year : 2012 - Month : 01 	 Number of passengers from Sydney : 729013
Year : 2012 - Month : 02 	 Number of passengers from Sydney : 654120
Year : 2012 - Month : 03 	 Number of passengers from Sydney : 675644
Year : 2012 - Month : 04 	 Number of passengers from Sydney : 674681
Year : 2012 - Month : 05 	 Number of passengers from Sydney : 663790
Year : 2012 - Month : 06 	 Number of passengers from Sydney : 669329
Year : 2012 - Month : 07 	 Number of passengers from Sydney : 720682
Year : 2012 - Month : 08 	 Number of passengers from Sydney : 703989
Year : 2012 - Month : 09 	 Number of passengers from Sydney : 690536
Year : 2012 - Month : 10 	 Number of passengers from Sydney : 712018
Year : 2012 - Month : 11 	 Number of passengers from Sydney : 694402
Year : 2012 - Month : 12 	 Number of passengers from Sydney : 750584
Year : 2013 - Month : 01 	 Number of passengers from Sydney : 757168
Year : 2013 - Month : 02 	 Number of passengers from Sydney : 655424
Year : 2013 - Month : 03 	 Number of passengers from Sydney : 716551
Year : 2013 - Month : 04 	 Number of passengers from Sydney : 708042
Year : 2013 - Month : 05 	 Number of passengers from Sydney : 692525
Year : 2013 - Month : 06 	 Number of passengers from Sydney : 690990
Year : 2013 - Month : 07 	 Number of passengers from Sydney : 750102
Year : 2013 - Month : 08 	 Number of passengers from Sydney : 726781
Year : 2013 - Month : 09 	 Number of passengers from Sydney : 721742
Year : 2013 - Month : 10 	 Number of passengers from Sydney : 749828
Year : 2013 - Month : 11 	 Number of passengers from Sydney : 729524
Year : 2013 - Month : 12 	 Number of passengers from Sydney : 797045
Year : 2014 - Month : 01 	 Number of passengers from Sydney : 812512

### Supression de l'ensemble du répertoire et de son contenu

In [14]:
!hadoop fs -rm -r /Reservation/

Deleted /Reservation

# HDFS

Installation de la librairie hdfs3

In [15]:
conda install -c conda-forge hdfs3

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

## Connexion à HDFS via hdfs3

In [16]:
from hdfs3 import HDFileSystem

In [17]:
hdfs = HDFileSystem(host="localhost", port=8020)

## Création d'un répertoire sur HDFS

In [18]:
hdfs.mkdir("/HDFS_Data/")

In [19]:
hdfs.ls("/")

['//HDFS_Data',
 '//Repertoire1',
 '//benchmarks',
 '//enterprise-deployment.json',
 '//hbase',
 '//solr',
 '//test',
 '//tmp',
 '//user',
 '//var']

## Mettre les fichiers de données sur HDFS

In [20]:
hdfs.put("HDFS_Data/data1.txt", "/HDFS_Data/data1.txt")
hdfs.put("HDFS_Data/data2.txt", "/HDFS_Data/data2.txt")
hdfs.put("HDFS_Data/data3.txt", "/HDFS_Data/data3.txt")
hdfs.put("HDFS_Data/data4.txt", "/HDFS_Data/data4.txt")

In [21]:
hdfs.ls("/HDFS_Data/")

['/HDFS_Data/data1.txt',
 '/HDFS_Data/data2.txt',
 '/HDFS_Data/data3.txt',
 '/HDFS_Data/data4.txt']

## Comptabiliser le nombre de mots

In [22]:
def count_words(file):
    word_counts = {}
    for line in file:
        for word in line.strip().split():
            if (word in word_counts) :
                word_counts[word] += 1
            else:
                word_counts[word] = 1
    return word_counts

Juste pour vérifier le fonctionnement de la fonction prédéfinie

In [23]:
print(count_words(['Anthony Anthony Toto', 'Toto Titi']))

{'Anthony': 2, 'Toto': 2, 'Titi': 1}

On parcourt l'ensemble des fichiers hdfs, on les ouvre, on ajoute le contenu dans une liste puis on appelle la fonction pour déterminer le nombre de mots.

In [24]:
import os
listFile = []
for file in hdfs.glob(os.path.join('/HDFS_Data', '*.txt')):
    with hdfs.open(file) as f:
        print(f.info())
        content = f.read()
        content = (str)(content)
        listFile.append(content)

resultWord = count_words(listFile)

{'kind': 'file', 'name': '/HDFS_Data/data1.txt', 'last_mod': 1577012659, 'size': 67742, 'replication': 3, 'block_size': 67108864, 'owner': 'cloudera', 'group': 'supergroup', 'permissions': 511, 'last_access': 1577012659, 'encryption_info': None}
{'kind': 'file', 'name': '/HDFS_Data/data2.txt', 'last_mod': 1577012659, 'size': 68130, 'replication': 3, 'block_size': 67108864, 'owner': 'cloudera', 'group': 'supergroup', 'permissions': 511, 'last_access': 1577012659, 'encryption_info': None}
{'kind': 'file', 'name': '/HDFS_Data/data3.txt', 'last_mod': 1577012659, 'size': 67933, 'replication': 3, 'block_size': 67108864, 'owner': 'cloudera', 'group': 'supergroup', 'permissions': 511, 'last_access': 1577012659, 'encryption_info': None}
{'kind': 'file', 'name': '/HDFS_Data/data4.txt', 'last_mod': 1577012659, 'size': 67911, 'replication': 3, 'block_size': 67108864, 'owner': 'cloudera', 'group': 'supergroup', 'permissions': 511, 'last_access': 1577012659, 'encryption_info': None}

In [25]:
for key in sorted(resultWord) :
    print("%s %s"% (key, resultWord[key]))

' 4
Aenean 159
Aliquam 172
Aliquam. 1
Class 35
Cras 168
Curabitur 159
Curae; 31
Curae;\r\n\r\nMaecenas 1
Curae;\r\n\r\nSed 1
Donec 284
Duis 127
Etiam 151
Fusce 134
In 182
Integer 165
Interdum 28
Lorem 25
Maecenas 144
Mauris 146
Morbi 162
Nam 156
Nulla 181
Nullam 175
Nunc 141
Orci 19
Pellentesque 172
Phasellus 180
Praesent 143
Proin 149
Quisque 149
Sed 305
Suspendisse 175
Ut 155
Vestibulum 172
Vivamus 155
a 400
a, 55
a. 28
a.\r\n\r\nIn 1
a.\r\n\r\nOrci 1
ac 504
ac, 43
ac. 31
ac.\r\n\r\nSuspendisse 1
ac.\r\n\r\nVestibulum 1
accumsan 155
accumsan, 16
accumsan. 17
accumsan.\r\n\r\nIn 1
ad 38
adipiscing 30
aliquam 138
aliquam, 7
aliquam. 23
aliquam.\r\n\r\nAliquam 1
aliquet 149
aliquet, 12
aliquet. 34
aliquet.\r\n\r\nSuspendisse 1
amet 402
amet, 86
amet. 25
amet.\r\n\r\nUt 1
ante 218
ante, 34
ante. 48
ante.\r\n\r\nAliquam 1
ante.\r\n\r\nCurabitur 1
ante.\r\n\r\nEtiam 1
ante.\r\n\r\nFusce 1
ante.\r\n\r\nNullam 1
ante.\r\n\r\nPellentesque 1
ante.\r\n\r\nPraesent 1
ante.\r\n\r\nSuspendisse 2
aptent 38
arcu 148
arcu, 40
arcu. 62
arcu.\r\n\r\nDonec 1
arcu.\r\n\r\nMaecenas 1
at 397
at, 58
at. 23
at.\r\n\r\nDonec 1
at.\r\n\r\nInteger 1
at.\r\n\r\nPraesent 1
at.\r\n\r\nProin 1
at.\r\n\r\nVestibulum 2
auctor 133
auctor, 17
auctor. 27
augue 152
augue, 36
augue. 51
augue.\r\n\r\nCras 1
augue.\r\n\r\nMaecenas 1
augue.\r\n\r\nMorbi 1
augue.\r\n\r\nNulla 1
augue.\r\n\r\nSed 1
augue.\r\n\r\nVestibulum 1
b'\r\n\r\nLorem 4
bibendum 130
bibendum, 11
bibendum. 28
bibendum.\r\n\r\nDonec 1
blandit 155
blandit, 18
blandit. 22
blandit.\r\n\r\nNulla 1
commodo 138
commodo, 16
commodo. 29
commodo.\r\n\r\nAenean 1
commodo.\r\n\r\nNunc 1
commodo.\r\n\r\nQuisque 1
commodo.\r\n\r\nVestibulum 1
condimentum 144
condimentum, 20
condimentum. 24
condimentum.\r\n\r\nDonec 2
condimentum.\r\n\r\nSed 1
condimentum.\r\n\r\nVestibulum 1
congue 137
congue, 11
congue. 24
congue.\r\n\r\nNulla 1
congue.\r\n\r\nNullam 1
congue.\r\n\r\nPhasellus 1
congue.\r\n\r\nSed 1
consectetur 166
consectetur, 18
consectetur. 32
consectetur.\r\n\r\nAliquam 1
consectetur.\r\n\r\nMorbi 1
consectetur.\r\n\r\nSed 1
consequat 151
consequat, 11
consequat. 21
consequat.\r\n\r\nDonec 1
consequat.\r\n\r\nSed 1
consequat.\r\n\r\nUt 1
conubia 37
convallis 141
convallis, 9
convallis. 26
convallis.\r\n\r\nDuis 1
convallis.\r\n\r\nInteger 1
cubilia 33
cursus 148
cursus, 22
cursus. 27
cursus.\r\n\r\nAenean 1
cursus.\r\n\r\nDonec 1
cursus.\r\n\r\nPellentesque 1
cursus.\r\n\r\nSed 1
dapibus 141
dapibus, 17
dapibus. 31
dapibus.\r\n\r\nNunc 1
dapibus.\r\n\r\nPhasellus 1
dapibus.\r\n\r\nSuspendisse 1
dapibus.\r\n\r\nVivamus 1
diam 133
diam, 38
diam. 34
diam.\r\n\r\nFusce 2
diam.\r\n\r\nInteger 2
diam.\r\n\r\nMorbi 1
diam.\r\n\r\nNullam 1
diam.\r\n\r\nUt 1
dictum 148
dictum, 21
dictum. 27
dictum.\r\n\r\nInteger 1
dictumst. 21
dictumst.\r\n\r\nInteger 1
dictumst.\r\n\r\nMauris 1
dictumst.\r\n\r\nPellentesque 1
dictumst.\r\n\r\nPhasellus 1
dignissim 148
dignissim, 18
dignissim. 30
dignissim.\r\n\r\nAenean 1
dignissim.\r\n\r\nDonec 1
dis 22
dolor 209
dolor, 35
dolor. 42
dolor.\r\n\r\nDonec 2
dolor.\r\n\r\nEtiam 1
dolor.\r\n\r\nNunc 1
dolor.\r\n\r\nPellentesque 1
dui 165
dui, 29
dui. 45
dui.\r\n\r\nDonec 1
dui.\r\n\r\nEtiam 1
dui.\r\n\r\nMauris 1
dui.\r\n\r\nSed 1
efficitur 158
efficitur, 21
efficitur. 29
efficitur.\r\n\r\nCras 1
efficitur.\r\n\r\nMaecenas 1
egestas 140
egestas, 13
egestas. 51
egestas.\r\n\r\nAenean 1
egestas.\r\n\r\nCurabitur 1
egestas.\r\n\r\nEtiam 1
egestas.\r\n\r\nQuisque 1
egestas.\r\n\r\nVestibulum 1
eget 419
eget, 43
eget. 19
eget.\r\n\r\nAliquam 1
eget.\r\n\r\nCras 1
eget.\r\n\r\nMorbi 1
eleifend 152
eleifend, 10
eleifend. 19
eleifend.\r\n\r\nNam 1
elementum 125
elementum, 20
elementum. 21
elit 160
elit, 39
elit. 80
elit.\r\n\r\nIn 1
elit.\r\n\r\nMaecenas 1
enim 165
enim, 36
enim. 54
enim.\r\n\r\nClass 1
enim.\r\n\r\nDonec 1
enim.\r\n\r\nEtiam 1
enim.\r\n\r\nPellentesque 1
enim.\r\n\r\nPhasellus 1
enim.\r\n\r\nVestibulum 1
enim.\r\n\r\nVivamus 1
erat 207
erat, 32
erat. 49
erat.\r\n\r\nDuis 1
erat.\r\n\r\nSuspendisse 1
erat.\r\n\r\nVestibulum 1
eros 164
eros, 28
eros. 57
eros.\r\n\r\nFusce 1
eros.\r\n\r\nIn 1
eros.\r\n\r\nMaecenas 1
eros.\r\n\r\nMauris 1
eros.\r\n\r\nNullam 1
eros.\r\n\r\nSed 1
est 155
est, 45
est. 48
est.\r\n\r\nAenean 1
est.\r\n\r\nAliquam 1
est.\r\n\r\nDonec 1
est.\r\n\r\nDuis 1
est.\r\n\r\nNunc 1
et 544
et, 47
et. 26
et.\r\n\r\nCurabitur 1
et.\r\n\r\nDonec 1
eu 393
eu, 44
eu. 33
eu.\r\n\r\nCurabitur 1
eu.\r\n\r\nMorbi 1
euismod 128
euismod, 14
euismod. 30
euismod.\r\n\r\nIn 1
euismod.\r\n\r\nProin 1
ex 167
ex, 37
ex. 52
ex.\r\n\r\nAenean 1
ex.\r\n\r\nDonec 1
ex.\r\n\r\nFusce 1
ex.\r\n\r\nPraesent 1
facilisi. 27
facilisi.\r\n\r\nAliquam 1
facilisi.\r\n\r\nDonec 1
facilisi.\r\n\r\nDuis 1
facilisi.\r\n\r\nEtiam 1
facilisi.\r\n\r\nPellentesque 2
facilisi.\r\n\r\nVivamus 1
facilisis 141
facilisis, 12
facilisis. 23
facilisis.\r\n\r\nAenean 1
facilisis.\r\n\r\nFusce 1
facilisis.\r\n\r\nNulla 1
fames 54
faucibus 164
faucibus, 17
faucibus. 44
faucibus.\r\n\r\nIn 1
faucibus.\r\n\r\nPraesent 1
faucibus.\r\n\r\nSed 1
felis 155
felis, 32
felis. 40
felis.\r\n\r\nSuspendisse 2
felis.\r\n\r\nVestibulum 1
fermentum 149
fermentum, 14
fermentum. 25
fermentum.\r\n\r\nDonec 1
fermentum.\r\n\r\nMauris 1
fermentum.\r\n\r\nUt 1
feugiat 143
feugiat, 19
feugiat. 21
finibus 147
finibus, 16
finibus. 17
finibus.\r\n\r\nMorbi 1
finibus.\r\n\r\nNulla 2
fringilla 145
fringilla, 13
fringilla. 32
fringilla.\r\n\r\nDonec 1
fringilla.\r\n\r\nOrci 1
gravida 160
gravida, 17
gravida. 15
gravida.\r\n\r\nFusce 1
gravida.\r\n\r\nNulla 1
habitant 24
habitasse 25
hac 25
hendrerit 154
hendrerit, 13
hendrerit. 27
hendrerit.\r\n\r\nEtiam 2
hendrerit.\r\n\r\nSuspendisse 1
himenaeos. 33
himenaeos.\r\n\r\nDonec 1
himenaeos.\r\n\r\nPhasellus 1
himenaeos.\r\n\r\nSed 1
himenaeos.\r\n\r\nSuspendisse 1
iaculis 140
iaculis, 22
iaculis. 22
iaculis.\r\n\r\nFusce 1
iaculis.\r\n\r\nVestibulum 1
id 425
id, 51
id. 25
id.\r\n\r\nAliquam 1
imperdiet 157
imperdiet, 23
imperdiet. 19
imperdiet.\r\n\r\nDonec 1
imperdiet.\r\n\r\nIn 1
imperdiet.\r\n\r\nInterdum 1
in 477
in, 42
in. 35
in.\r\n\r\nClass 1
in.\r\n\r\nDuis 2
inceptos 37
interdum 147
interdum, 17
interdum. 26
interdum.\r\n\r\nEtiam 1
interdum.\r\n\r\nIn 1
interdum.\r\n\r\nMaecenas 1
ipsum 256
ipsum, 36
ipsum. 47
ipsum.\r\n\r\nCurabitur 3
ipsum.\r\n\r\nNulla 1
ipsum.\r\n\r\nPellentesque 1
justo 142
justo, 48
justo. 48
justo.\r\n\r\nEtiam 2
justo.\r\n\r\nMauris 1
justo.\r\n\r\nMorbi 1
justo.\r\n\r\nPhasellus 1
justo.\r\n\r\nVestibulum 1
lacinia 154
lacinia, 9
lacinia. 29
lacinia.\r\n\r\nDonec 1
lacus 174
lacus, 38
lacus. 51
lacus.\r\n\r\nAenean 1
lacus.\r\n\r\nPhasellus 1
lacus.\r\n\r\nVivamus 1
laoreet 141
laoreet, 16
laoreet. 20
laoreet.\r\n\r\nIn 1
laoreet.\r\n\r\nInteger 1
laoreet.\r\n\r\nNam 1
laoreet.\r\n\r\nPraesent 1
laoreet.\r\n\r\nVivamus 1
lectus 164
lectus, 31
lectus. 48
lectus.\r\n\r\nCras 1
lectus.\r\n\r\nCurabitur 1
lectus.\r\n\r\nFusce 1
lectus.\r\n\r\nNunc 1
lectus.\r\n\r\nQuisque 1
leo 167
leo, 45
leo. 50
leo.\r\n\r\nAenean 1
leo.\r\n\r\nAliquam 1
leo.\r\n\r\nCras 1
leo.\r\n\r\nDuis 1
leo.\r\n\r\nMaecenas 1
leo.\r\n\r\nMauris 1
libero 151
libero, 41
libero. 33
libero.\r\n\r\nAenean 1
libero.\r\n\r\nCras 1
libero.\r\n\r\nEtiam 1
libero.\r\n\r\nNulla 1
libero.\r\n\r\nProin 1
libero.\r\n\r\nQuisque 1
ligula 160
ligula, 34
ligula. 45
ligula.\r\n\r\nAliquam 1
ligula.\r\n\r\nMauris 1
ligula.\r\n\r\nPellentesque 1
litora 38
lobortis 137
lobortis, 16
lobortis. 22
lobortis.\r\n\r\nFusce 1
lobortis.\r\n\r\nOrci 1
lobortis.\r\n\r\nVestibulum 1
lorem 152
lorem, 28
lorem. 47
lorem.\r\n\r\nCurabitur 1
lorem.\r\n\r\nDuis 1
lorem.\r\n\r\nFusce 1
lorem.\r\n\r\nNam 1
lorem.\r\n\r\nPhasellus 1
luctus 175
luctus, 18
luctus. 22
luctus.\r\n\r\nAliquam 1
magna 186
magna, 37
magna. 43
magna.\r\n\r\nClass 1
magna.\r\n\r\nDonec 1
magna.\r\n\r\nNulla 1
magnis 22
malesuada 186
malesuada, 15
malesuada. 20
malesuada.\r\n\r\nDonec 1
malesuada.\r\n\r\nDuis 1
malesuada.\r\n\r\nNullam 1
malesuada.\r\n\r\nVestibulum 1
massa 157
massa, 29
massa. 47
massa.\r\n\r\nAliquam 1
massa.\r\n\r\nFusce 1
massa.\r\n\r\nNam 1
mattis 164
mattis, 12
mattis. 36
mattis.\r\n\r\nNullam 1
mauris 166
mauris, 38
mauris. 38
mauris.\r\n\r\nAliquam 1
mauris.\r\n\r\nEtiam 1
mauris.\r\n\r\nMauris 1
mauris.\r\n\r\nPhasellus 1
mauris.\r\n\r\nUt 1
maximus 147
maximus, 15
maximus. 28
maximus.\r\n\r\nEtiam 1
maximus.\r\n\r\nNulla 1
metus 156
metus, 49
metus. 55
metus.\r\n\r\nAliquam 1
metus.\r\n\r\nCurabitur 1
metus.\r\n\r\nProin 1
mi 154
mi, 35
mi. 42
mi.\r\n\r\nMorbi 1
mi.\r\n\r\nVestibulum 1
molestie 146
molestie, 17
molestie. 23
molestie.\r\n\r\nAenean 1
molestie.\r\n\r\nDonec 1
molestie.\r\n\r\nDuis 1
molestie.\r\n\r\nInteger 1
molestie.\r\n\r\nNunc 1
molestie.\r\n\r\nVestibulum 1
mollis 127
mollis, 21
mollis. 19
mollis.\r\n\r\nCurabitur 1
mollis.\r\n\r\nNulla 1
montes, 22
morbi 24
mus. 19
mus.\r\n\r\nIn 1
mus.\r\n\r\nMauris 1
mus.\r\n\r\nPellentesque 1
nascetur 22
natoque 22
nec 411
nec, 46
nec. 37
nec.\r\n\r\nPellentesque 1
nec.\r\n\r\nSuspendisse 2
nec.\r\n\r\nUt 1
neque 170
neque, 34
neque. 51
neque.\r\n\r\nDonec 1
neque.\r\n\r\nEtiam 1
neque.\r\n\r\nPellentesque 1
neque.\r\n\r\nProin 1
neque.\r\n\r\nSed 1
neque.\r\n\r\nSuspendisse 1
netus 24
nibh 136
nibh, 52
nibh. 55
nibh.\r\n\r\nAenean 1
nibh.\r\n\r\nDonec 1
nibh.\r\n\r\nFusce 2
nibh.\r\n\r\nInteger 2
nibh.\r\n\r\nMauris 1
nibh.\r\n\r\nNullam 1
nibh.\r\n\r\nPhasellus 1
nisi 148
nisi, 40
nisi. 45
nisi.\r\n\r\nDuis 1
nisl 163
nisl, 39
nisl. 52
nisl.\r\n\r\nCras 1
nisl.\r\n\r\nDonec 1
nisl.\r\n\r\nNunc 1
nisl.\r\n\r\nPellentesque 1
nisl.\r\n\r\nPhasellus 1
nisl.\r\n\r\nProin 2
nisl.\r\n\r\nVivamus 1
non 384
non, 57
non. 29
non.\r\n\r\nAenean 1
non.\r\n\r\nMaecenas 1
non.\r\n\r\nMauris 1
non.\r\n\r\nNullam 1
non.\r\n\r\nUt 1
nostra, 37
nulla 167
nulla, 41
nulla. 48
nulla.\r\n\r\nMorbi 1
nulla.\r\n\r\nNam 1
nulla.\r\n\r\nNunc 1
nulla.\r\n\r\nPraesent 1
nunc 157
nunc, 34
nunc. 59
nunc.\r\n\r\nAliquam 1
nunc.\r\n\r\nPraesent 1
nunc.\r\n\r\nSed 1
odio 169
odio, 40
odio. 52
odio.\r\n\r\nMorbi 1
odio.\r\n\r\nNam 1
orci 162
orci, 29
orci. 63
orci.\r\n\r\nDonec 1
orci.\r\n\r\nDuis 2
orci.\r\n\r\nFusce 2
orci.\r\n\r\nInteger 1
orci.\r\n\r\nQuisque 1
orci.\r\n\r\nSed 1
ornare 167
ornare, 12
ornare. 30
ornare.\r\n\r\nInteger 1
ornare.\r\n\r\nMauris 1
ornare.\r\n\r\nVestibulum 1
parturient 22
pellentesque 127
pellentesque, 14
pellentesque. 20
penatibus 22
per 74
per. 1
pharetra 131
pharetra, 26
pharetra. 30
pharetra.\r\n\r\nEtiam 2
placerat 119
placerat, 14
placerat. 25
platea 25
porta 148
porta, 6
porta. 38
porta.\r\n\r\nMaecenas 1
porttitor 145
porttitor, 20
porttitor. 27
porttitor.\r\n\r\nDuis 1
posuere 162
posuere, 22
posuere. 24
posuere.\r\n\r\nIn 1
posuere.\r\n\r\nProin 1
potenti. 19
potenti.\r\n\r\nProin 1
potenti.\r\n\r\nUt 1
pretium 149
pretium, 22
pretium. 26
pretium.\r\n\r\nMauris 1
primis 63
pulvinar 148
pulvinar, 10
pulvinar. 23
pulvinar.\r\n\r\nIn 1
pulvinar.\r\n\r\nQuisque 1
pulvinar.\r\n\r\nUt 1
purus 175
purus, 45
purus. 45
purus.\r\n\r\nCras 1
purus.\r\n\r\nDuis 1
purus.\r\n\r\nEtiam 1
purus.\r\n\r\nIn 1
purus.\r\n\r\nPraesent 1
purus.\r\n\r\nQuisque 1
purus.\r\n\r\nVivamus 2
quam 166
quam, 37
quam. 53
quam.\r\n\r\nCras 1
quam.\r\n\r\nCurabitur 1
quam.\r\n\r\nDonec 1
quam.\r\n\r\nEtiam 1
quam.\r\n\r\nNam 1
quam.\r\n\r\nNulla 1
quam.\r\n\r\nNunc 1
quam.\r\n\r\nPellentesque 1
quam.\r\n\r\nVivamus 1
quis 415
quis, 39
quis. 34
quis.\r\n\r\nAenean 1
quis.\r\n\r\nDonec 1
quis.\r\n\r\nFusce 1
quis.\r\n\r\nMorbi 1
quis.\r\n\r\nPraesent 1
quis.\r\n\r\nVestibulum 1
quis.\r\n\r\nVivamus 1
rhoncus 173
rhoncus, 9
rhoncus. 19
rhoncus.\r\n\r\nPellentesque 1
ridiculus 22
risus 180
risus, 38
risus. 53
risus.\r\n\r\nFusce 2
risus.\r\n\r\nMaecenas 1
risus.\r\n\r\nMauris 1
risus.\r\n\r\nMorbi 1
risus.\r\n\r\nSed 1
rutrum 133
rutrum, 9
rutrum. 19
rutrum.\r\n\r\nAenean 1
rutrum.\r\n\r\nDonec 2
rutrum.\r\n\r\nEtiam 1
rutrum.\r\n\r\nSuspendisse 1
sagittis 141
sagittis, 16
sagittis. 16
sagittis.\r\n\r\nCurabitur 1
sagittis.\r\n\r\nEtiam 1
sagittis.\r\n\r\nNunc 1
sagittis.\r\n\r\nProin 1
sapien 150
sapien, 31
sapien. 44
sapien.\r\n\r\nIn 1
sapien.\r\n\r\nNulla 2
sapien.\r\n\r\nNunc 2
sapien.\r\n\r\nQuisque 1
sapien.\r\n\r\nUt 1
scelerisque 144
scelerisque, 12
scelerisque. 32
scelerisque.\r\n\r\nDonec 1
sed 452
sed, 40
sed. 24
sed.\r\n\r\nPhasellus 2
sem 147
sem, 37
sem. 44
sem.\r\n\r\nAliquam 1
sem.\r\n\r\nDonec 1
sem.\r\n\r\nInteger 1
sem.\r\n\r\nLorem 1
semper 148
semper, 8
semper. 24
semper.\r\n\r\nMaecenas 1
semper.\r\n\r\nNulla 1
semper.\r\n\r\nSed 1
senectus 24
sit 514
sociosqu 38
sodales 158
sodales, 20
sodales. 34
sodales.\r\n\r\nEtiam 1
sodales.\r\n\r\nNulla 1
sollicitudin 139
sollicitudin, 6
sollicitudin. 22
sollicitudin.\r\n\r\nIn 1
sollicitudin.\r\n\r\nInteger 1
sollicitudin.\r\n\r\nPraesent 1
suscipit 133
suscipit, 18
suscipit. 33
taciti 38
tellus 145
tellus, 31
tellus. 50
tellus.\r\n\r\nDonec 1
tempor 146
tempor, 15
tempor. 28
tempor.\r\n\r\nSed 1
tempus 124
tempus, 10
tempus. 22
tempus.\r\n\r\nIn 1
tempus.\r\n\r\nNullam 1
tempus.\r\n\r\nUt 1
tempus.\r\n\r\nVivamus 1
tincidunt 246
tincidunt, 32
tincidunt. 56
tincidunt.\r\n\r\nInterdum 1
tincidunt.\r\n\r\nPhasellus 1
tincidunt.\r\n\r\nProin 1
torquent 38
tortor 147
tortor, 40
tortor. 44
tortor.\r\n\r\nCras 1
tortor.\r\n\r\nInteger 1
tortor.\r\n\r\nNunc 1
tristique 169
tristique, 12
tristique. 17
tristique.\r\n\r\nNam 1
tristique.\r\n\r\nPellentesque 1
tristique.\r\n\r\nSed 1
turpis 172
turpis, 36
turpis. 52
turpis.\r\n\r\nAenean 1
turpis.\r\n\r\nEtiam 2
turpis.\r\n\r\nPraesent 1
turpis.\r\n\r\nVivamus 1
ullamcorper 147
ullamcorper, 13
ullamcorper. 23
ullamcorper.\r\n\r\nCurabitur 1
ultrices 175
ultrices, 11
ultrices. 22
ultricies 160
ultricies, 15
ultricies. 24
ultricies.\r\n\r\nMorbi 1
ultricies.\r\n\r\nNam 1
urna 175
urna, 36
urna. 60
urna.\r\n\r\nCras 1
urna.\r\n\r\nInteger 1
urna.\r\n\r\nQuisque 2
urna.\r\n\r\nSuspendisse 1
ut 415
ut, 44
ut. 27
ut.\r\n\r\nCras 1
ut.\r\n\r\nDuis 1
ut.\r\n\r\nMaecenas 1
ut.\r\n\r\nMorbi 1
varius 169
varius, 20
varius. 21
varius.\r\n\r\nNunc 1
varius.\r\n\r\nProin 1
vehicula 126
vehicula, 17
vehicula. 22
vehicula.\r\n\r\nAenean 1
vehicula.\r\n\r\nIn 1
vehicula.\r\n\r\nVestibulum 1
vel 413
vel, 50
vel. 30
vel.\r\n\r\nAliquam 2
vel.\r\n\r\nIn 1
vel.\r\n\r\nMauris 1
vel.\r\n\r\nMorbi 1
vel.\r\n\r\nProin 1
vel.\r\n\r\nVivamus 1
velit 132
velit, 39
velit. 49
velit.\r\n\r\nIn 1
venenatis 151
venenatis, 11
venenatis. 29
venenatis.\r\n\r\nPellentesque 1
venenatis.\r\n\r\nSed 1
vestibulum 150
vestibulum, 14
vestibulum. 13
vitae 380
vitae, 39
vitae. 27
vitae.\r\n\r\nSuspendisse 1
viverra 152
viverra, 12
viverra. 24
viverra.\r\n\r\nDonec 1
viverra.\r\n\r\nEtiam 1
viverra.\r\n\r\nQuisque 1
viverra.\r\n\r\nSed 1
volutpat 153
volutpat, 20
volutpat. 60
volutpat.\r\n\r\nDonec 1
volutpat.\r\n\r\nNulla 1
volutpat.\r\n\r\nPellentesque 1
volutpat.\r\n\r\nPhasellus 1
volutpat.\r\n\r\nSed 1
volutpat.\r\n\r\nVestibulum 1
vulputate 142
vulputate, 11
vulputate. 28
vulputate.\r\n\r\nSed 1

In [26]:
print("Le nombre de mots qui se repete : " + str(len(resultWord)))

Le nombre de mots qui se repete : 881

In [27]:
print("Le top 10 des mots les plus repetes\n")
top10 = sorted(resultWord.items(), key=lambda k_v: k_v[1], reverse=True)[:10]
for (mot,count) in top10 :
    print("Le mot " + str(mot) + " est repete " + str(count))

Le top 10 des mots les plus repetes

Le mot et est repete 544
Le mot sit est repete 514
Le mot ac est repete 504
Le mot in est repete 477
Le mot sed est repete 452
Le mot id est repete 425
Le mot eget est repete 419
Le mot ut est repete 415
Le mot quis est repete 415
Le mot vel est repete 413

## Suppression du répertoire HDFS_Data

In [28]:
!hadoop fs -rm -r /HDFS_Data/

Deleted /HDFS_Data

In [29]:
!hadoop fs -ls

Found 8 items
drwxr-xr-x   - cloudera cloudera          0 2019-12-12 13:39 Magasin
drwxr-xr-x   - cloudera cloudera          0 2019-12-13 02:02 SalaireMinMax
drwxr-xr-x   - cloudera cloudera          0 2019-12-12 14:46 WordCount
drwxr-xr-x   - cloudera cloudera          0 2019-12-12 13:17 countword
-rw-r--r--   1 cloudera cloudera      53655 2019-12-12 05:43 enterprise-deployment.json
drwxr-xr-x   - cloudera cloudera          0 2019-12-17 01:51 orders
drwxr-xr-x   - cloudera cloudera          0 2019-12-12 13:00 temperature
drwxr-xr-x   - cloudera cloudera          0 2019-12-12 06:03 test